<?xml version="1.0"?>
<!--
  ~ @Author:    Nathan Chick (nathan.chick@deploy.co.uk)
  ~ @Copyright: 2024 Deploy Ecommerce (https://www.deploy.co.uk/)
  ~ @Package:   DeployEcommerce_BuilderIOFastly
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DeployEcommerce_BuilderIOFastly">
        <sequence>
            <module name="DeployEcommerce_BuilderIO"/>
        </sequence>
    </module>
</config>
